{% extends 'base.html.twig' %}

{% block title %}WeCiné{% endblock %}

{% block body %}
    <style>
        main {
            display: grid;
            place-items: center;
            height: 100vh;
            animation: shake infinite ease-in-out 1.5s;
        }

        @keyframes shake {
            0% {
                transform: rotate(0deg);
            }
            25% {
                transform: rotate(5deg);
            }
            50% {
                transform: rotate(-5deg);
            }
            75% {
                transform: rotate(5deg);
            }
            100% {
                transform: rotate(0deg);
            }
        }
    </style>

    <main>
        <img src="{{ asset('images/wecine-logo-color-dark.svg') }}" alt="logo WeCiné" width="300">
    </main>
{% endblock %}
